<article>
  <p style="color:White">
    <a href="https://www.colordoesntexist.com" class="btn btn--success">{{ site.data.icons.book }} IR Book</a>
    <a href="/lightroom-infrared-color-swap-profiles/" class="btn btn--success">{{ site.data.icons.palette }} Lightroom IR Color Swap Profiles</a>
    <a href="https://590.red/coach" class="btn btn--success"><span style="color:White">{{ site.data.icons.coach }}</span> Coaching</a><br />
    <a href="https://www.youtube.com/c/RobSheaPhotography?sub_confirmation=1" class="btn btn--danger">{{ site.data.icons.youtube }} YouTube</a>
    <a href="https://order.robsheaphotography.com" class="btn btn--danger">{{ site.data.icons.email }} Newsletter</a>
    <a href="https://www.diffraction.cam/" class="btn btn--info">{{ site.data.icons.diffraction }} Diffraction Calculator</a>
    <a href="https://www.irlensdb.com/" class="btn btn--info">{{ site.data.icons.aperture }} IR Lens db</a>
    <a href="/faq" class="btn btn--info">{{ site.data.icons.faq }} FAQ</a>
  </p>
</article>

<article>
  <p>
    <b>Camera Conversions & Infrared Filters</b><br />
    <a href="https://590.red/kv">Kolari Vision Camera</a> &#8212; USA, EU, and worldwide. I have multiple cameras converted by Kolari Vision.<br />
    <a href="https://590.red/lp">LifePixel Infrared Camera</a> &#8212; USA and worldwide. I have multiple cameras converted by LifePixel.<br />
    <a href="https://590.red/fsuk">Full Spectrum International</a> &#8212; EU and worldwide<br />
  </p>
  <p>
    <b>Gear</b><br />
    <a href="https://590.red/keh">KEH Camera</a> &#8212; Great source for used cameras and lenses where I've purchased many used items.<br />
    <a href="https://590.red/bh">B&H Photo Video</a> &#8212; New and used cameras, lenses, and photography gear.<br />
    <a href="https://590.red/moment">Moment</a> &#8212; I use their <a href="https://590.red/moment-case">mobile phone cases</a> and <a href="https://590.red/moment-filter">filter adapters</a> to attach infrared filters.<br />
  </p>
  <p>
    <b>Raw Editors</b><br />
    <a href="https://590.red/adobe">Adobe Lightroom, Lightroom Classic, and Photoshop</a> &#8212; My primary raw editor<br />
    <a href="https://590.red/dxo-photolab">DxO PhotoLab</a> &#8212; Easy to use infrared raw editor, recommend Elite Edition<br />
    <a href="https://590.red/nik">Nik Collection</a> &#8212; plugin suite for Photoshop, Lightroom Classic, and more<br />
    <a href="https://590.red/on1">ON1 Photo Raw</a> &#8212; Easy to use infrared raw editor. Get 20% off with code <code>ROBSHEA20</code><br />
    <small><em>If you complete a purchase with these affiliate links, I will receive a commission. There is no cost to you. All opinions posted on this site are my own. I appreciate your support!<br /></em></small>
  </p>
</article>

<script async data-uid="53a355d63e" src="https://rob-shea-photography.ck.page/53a355d63e/index.js"></script>
