---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

/* system typefaces */
$serif      : Georgia, Times, serif;
$sans-serif : "PT Sans", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Roboto", "Lucida Grande", Arial, sans-serif;
$monospace  : Monaco, Consolas, "Lucida Console", monospace;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

input, label, select {
  float: left;
  margin: 5px;
  font-size: 0.8em;
}
select {
  background-color: #D6EAF8;
}

label {
  margin-left: 10px;
  margin-top: 8px;
}

form {
  background-color: transparent;
  margin-bottom: 50px;
}

caption {
  caption-side: bottom;
  font-style: italic;
}

a.site-title {
  font-weight: 500;
  &:visited {
    color: $dark-gray;
  }
}

.masthead__menu-item {
  font-size: $type-size-6;
}

#top-fields {
  display: flex;
  margin-bottom: 25px;
}
.column {
  flex: 33.33%;
}

#pitch {
  width: 4em;
}

#pitch-label {
  color:gray;
}

// first & second column
#diff-table td:first-child, #diff-table td:nth-child(2) {
  background-color: #D6EAF8;
  color: #154360;
  text-align: right;
  font-weight: bold;
  width: 75px;
}

// first column
#diff-table td:first-child {
  width: 25px;
}

// second column
#diff-table td:nth-child(2) {
  width: 50px;
}

// header row
#f-stop {
  text-align: center;
}
#uv, #w350, #w400 {
  background-color: #E8DAEF;
  color: #4A235A;
  text-align: center;
}
#visible, #w470, #w550, #w590, #w665, #w720  {
  background-color: #D1F2EB;
  color: #0B5345;
  text-align: center;
}
#ir, #w780, #w830, #w930, #w1000 {
  background-color: #F2D7D5;
  color: #78281F;
  text-align: center;
}

// highlight row
.highlight {
  border: 2px solid #154360 ;
}

// cells
th {
  padding: 0.25em
}
#diff-table td {
  text-align: right;
  width: 105px;
}
.good {
  background-color: #82E0AA;
  color: #145A32;
}
.maybe {
  background-color: #F7DC6F;
  color: #7D6608;
}
.bad {
  background-color: #D98880;
  color: #641E16;
}
.show {
  opacity: 1;
}
.hide {
  opacity: .25;
}
#legend-table {
  margin-left: 40px;
}
